<mat-toolbar  color="accent">
    <span>
      <a routerLink="/">
        <span style="color:black">La Poste Tunisienne </span>
      </a>
    </span>
    <span>
      <a
    
        routerLinkActive="active-link"
        routerLink="/formations"
      >
        <span><i> formations </i> </span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span><i> Login </i></span>
      </a>
      <a

        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span> <i> Logout </i></span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/signup"
      >
        <span><i> Signup </i></span>
      </a>
    </span>
  </mat-toolbar>