<mat-card>
  <button mat-icon-button>
      <mat-icon  color="warn">delete</mat-icon>
    </button>
  <div class="formation-name">
     Titre du formation
  </div>
  <div class="formation-place">
     Lieu du formation
  </div>
  <div class="date-of-starting">
   Date de début du formation
   </div>
   <div class="date-of-ending">
      Date de fin du formation
      </div>
  </mat-card>
  
 <h1>Give-us your feedback </h1>
        <div class="item">
          <div class="container">
            <a
            [routerLink]="['/survey']"
              mat-raised-button
              class="btn btn-5"
            >
              FeedBack
            </a>
          </div>
          
  </div>